.container
  .row
    .col-sm-9.col-md-7.col-lg-5.mx-auto
      .card.card-signin.my-5
        .card-body
          %h2.card-title.text-center 新規登録
          = form_for(resource, as: resource_name, class: "form-signin" , url: registration_path(resource_name)) do |f|
            = render "devise/shared/error_messages", resource: resource
            .form-group
              = f.label :名前
              %span.badge.badge-danger
                必須
              %br/
              = f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"
            .form-group
              = f.label :email
              %span.badge.badge-danger
                必須
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
            .form-group
              = f.label :ユーザー画像
              %span.badge.badge-success
                任意
              %br/
              = f.file_field :image, autofocus: true, autocomplete: "image", class: "form-control", alt: "pict/guest.jpg"
            .form-group
              = f.label :password
              %span.badge.badge-danger
                必須
              (7文字以上)
              %br/
              = f.password_field :password, autocomplete: "new-password", class: "form-control"
            .form-group
              = f.label :password_confirmation
              %span.badge.badge-danger
                必須
              %br/
              = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
            .form-group
              = f.submit "新規登録", class: 'btn btn-primary btn-block'
          = render "devise/shared/links"
