.main
  .userInfo
    -if @user.image.url.present?
      .userInfo__image
        = image_tag @user.image.url
    .userInfo__name
      = @user.name
    .userInfo__email
      = @user.email
    .userInfo__edit
      .editbtn
        = link_to "編集", edit_user_registration_path(current_user)
      .deletebtn
        = link_to "削除"
    = render partial: "relationships/follow_button"
  .user-detail
    .user-detail__posts
      投稿
    .user-detail__likes
      = link_to "いいねした投稿",likes_user_path(@user)
    .user-detail__following
      = link_to "フォロー", user_following_path(@user)
      = @user.followings.count
    .user-detail__follower
      = link_to "フォロワー", user_followers_path(@user)
      = @user.followers.count