.main
  .userInfo
    .userInfo__image
      = image_tag @user.image.url
    .userInfo__name
      = @user.name
    .userInfo__email
      = @user.email
    .userInfo__edit
      .editbtn
        = link_to "編集", edit_user_registration_path(current_user)
      .deletebtn
        = link_to "削除"
  .user-detail
    .user-detail__posts
      投稿
    .user-detail__likes
      いいね！
    .user-detail__following
      フォロー
    .user-detail__follower
      フォロワー
  .Contents
    - @post.each do |post|
      .Contents-box
        .Contents-box__header
          .title
            = post.garden_name
        .Contents-box__user
          .user-image
            = image_tag "pict/IMG_4608.jpeg", size: "50x50"
          .username
            = post.user.name
        .Contents-box__titlebox
          .title
            = post.title
        .Contents-box__imagebox
          .image
            = image_tag post.image.url, size: "330x260"
        .Contents-box__footer
          .like
            いいね！
          .comment
            コメント1件
