.wrapper
  .mainimage
    = image_tag 'pict/rikugien.jpg', class: 'main_img'
    = image_tag 'pict/hasyokan.jpg', class: 'main_img'
    = image_tag 'pict/hamarikyu.jpg', class: 'main_img'
    = image_tag 'pict/sibarikyu.jpg', class: 'main_img'
    = image_tag 'pict/zindai.jpg', class: 'main_img'
  -# アプリ紹介
  .mainAppInfo
    .App-name
      %h2 あなたのお気に入りの日本庭園を探す旅に出かけよう！
    .introduce
      %p 平安時代よりも前から存在している日本庭園
      %p 現在では海外にも造られているほど世界的な人気を誇っています
      %p 日本庭園はそれぞれに作り手の思いがあって歴史があります
      %p Niwaaiであなたのお気に入りの日本庭園に出会いましょう！
  .mainInfo
    .mainInfo__left
      %h3.left-title
        %span Niwaaiとは・・・
      .content
        %p 庭園好きな方・庭園に興味がある方向けの
        %p
          %span 庭園写真共有サイト
          です
        %p Niwaaiではあなたのお気に入りの庭園写真を投稿できます！
        %p あなたのお気に入りの庭園写真を投稿して共有しましょう！
    .mainInfo__right
  .mainGoogle
    .mainGoogle__left
    .mainGoogle__right
      %h3.right-title
        %span 地図の表示
      .content
        %p 投稿を作成する際に庭園の住所を入力すると
        %p Google Mapであなたの投稿した庭園の場所が表示されます
        %p 住所を入力してあなたの好きな庭園を広めましょう！
        %p 気になった庭園の場所も把握できます！
  .mainPosts
    .mainPosts__left
      %h3.left-title
        %span Niwaaiでできること
      .content
        %p Niwaaiでは気になった投稿に対して
        %p いいね・コメントをすることができます！
        %p ユーザーをフォローして沢山の
        %p 庭園好きな方と繋がりましょう！
        %p Niwaaiであなたのお気に入りの日本庭園を探す旅に出かけよう！！
    .mainPosts__right