.wrapper
  -# ヘッダー
  .header
    .header__left
      .logo 庭あい
    .header__right
      .post
        = link_to "投稿する", new_post_path
      .username
        = link_to current_user.name, edit_user_registration_path(current_user)
  -# アプリ紹介
  .mainApp
    = image_tag "pict/kiyosumi.jpg", size: "1200x500"
    .mainApp__box
      .App-name
        庭あい
      .introduce
        %p 庭園の数だけ歴史がある
        %p あなたのお気に入りの庭園を共有しませんか？
  .mainContents
    .Contents-info
      %h2.Contents-info__name 投稿一覧
    -# 投稿一覧
    .Contents
      - @posts.each do |post|
        .Contents-box
          .Contents-box__header
            .title
              = post.garden_name
          .Contents-box__user
            .user-image
              = image_tag "pict/IMG_4608.jpeg", size: "50x50"
            .username
              = post.user.name
          .Contents-box__titlebox
            .title
              = post.title
          .Contents-box__imagebox
            .image
              = image_tag post.image.url, size: "330x260"
          .Contents-box__footer
            .like
              いいね！
            .comment
              コメント1件