.wrapper
  -# アプリ紹介
  .mainimage
  .mainAppInfo
    .App-name
      庭会
    .introduce
      %p 庭園の数だけ歴史がある
      %p あなたのお気に入りの庭園を共有しませんか？
  .mainInfo
    .appeal 庭会とは・・・
    %ul.AppInfo
      %li.AppInfo__post
        .logo
          = icon("fas", "camera-retro")
        .content
          %p あなたのお気に入りの日本庭園の
          %p 写真を投稿して共有しよう！！
      %li.AppInfo__post
        .logo
          = icon("fas", "camera-retro")
        .content
          %p 住所を入力すると庭園の場所を
          %p GoogleMapで共有できる！！
      %li.AppInfo__post
        .logo
          = icon("fas", "camera-retro")
        .content
          %p 気に入った投稿にいいね・コメント
          %p ユーザーのフォローができる！！
  .mainContents
    .ContentsInfo
      %h2.ContentsInfo__name 投稿一覧
    -# 投稿一覧
    .Contents
      - @posts.each do |post|
        .Contents-box
          .Contents-box__header
            .title
              = post.garden_name
          .Contents-box__user
            .user-image
              = image_tag post.user.image.url, size: "50x50"
            .username
              = post.user.name
          .Contents-box__titlebox
            .title
              = post.title
          .Contents-box__imagebox
            .image
              = image_tag post.image.url, size: "300x240"
          .Contents-box__footer
            .like
              いいね！
            .comment
              コメント1件