-# 投稿一覧
.Contents
  - @posts.each do |post|
    .Contents-box
      .Contents-box__header
        .title
          = post.garden_name
      .Contents-box__user
        -if post.user.image.url.nil?
          .user-image
            = image_tag "pict/guest.jpg",size: "50x50"
        -else
          .userimage
            = image_tag post.user.image.url, size: "50x50"
        .username
          = link_to post.user.name, user_path(post.user)
      .Contents-box__titlebox
        .title
          = link_to post.title, post_path(post)
      .Contents-box__imagebox
        .image
          = image_tag post.image.url, size: "300x250"
      .Contents-box__footer
        .like
          %div{:id => "likes_buttons_#{post.id}", :class => "likebox"}
            = render partial: 'likes/like', locals: { post: post}
        .comment
          %i.far.fa-comments
          = post.comments.count