-# 投稿一覧
.Contents
  - @posts.each do |post|
    .Contents-box
      .Contents-box__header
        .title
          = post.garden_name
      .Contents-box__user
        .user-image
          = image_tag post.user.image.url, size: "50x50"
        .username
          = link_to post.user.name, user_path(post.user)
      .Contents-box__titlebox
        .title
          = link_to post.title, post_path(post)
      .Contents-box__imagebox
        .image
          = image_tag post.image.url, size: "300x250"
      .Contents-box__footer
        .like
          = icon("fas", "heart", class: "likebtn")
          = post.likes.count
        .comment
          = "コメント#{post.comments.count}件"
.pagination
  = paginate @posts