.main
  .Postsbox
    .Postsbox__header
      .left-header
        .userimage
          = image_tag "pict/IMG_4608.jpeg", size: "50x50"
        .username
          = @post.user.name
      .right-header
        .create-title
          投稿日：
        .create-date
          = @post.created_at.strftime("%Y年%m月%d日")
    .Postsbox__Imagebox
      = image_tag @post.image.url, class: "image", size: "650x650"
      .garden_namebox
        .garden_namebox__garden_name
          = @post.garden_name
    .Postsbox__mainContent
      .titlebox
        .title
          = @post.title
      .contentbox
        .content
          = @post.content
      .like
        .like__box#likes_buttons_{@post.id}
          = render partial: 'likes/like', locals: { post: @post}
          .tagbtn
            清澄庭園
        .footer__edit
          .editbtn
            = link_to "編集", edit_post_path(@post.id)
          .deletebtn
            = link_to "削除", post_path(@post.id), method: :delete
    .Comments コメント一覧
    .Postsbox__Commentsbox
      - @comments.each do |comment|
        .Commentbox
          .header
            .header__left
              .userimage
                = image_tag comment.user.image.url, size: "50x50"
              .right
                .username
                  = link_to comment.user.name, user_path(current_user)
                .created-at
                  = comment.created_at.strftime("%Y年%m月%d日%R")
          .Contents
            .Contents__Comment
              = comment.content
    .Comments-form
      = form_with(model: [@post, @comment], local: true, id: "new_comment") do |f|
        = f.text_area :content, class: 'textbox'
        %br
        = f.submit 'コメントする', class: 'form__submit'
    - if @post.address.present?
      %p.address 住所
      = succeed "(\u4F4F\u6240\u540D\u8868\u793A)" do
        %p= @post.address
      = succeed "(\u5730\u56F3\u3092\u8868\u793A)" do
        #map
      :css
        %style
        #map{
          height: 800px;
          width: 800px;
        }
      :javascript
        function initMap() {

            var test ={lat: #{@post.latitude}, lng: #{@post.longitude}};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: test
            });
            var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

            var contentString = '住所：#{@post.address}';
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position:test,
                map: map,
                title: contentString
            });

            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
      %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBOgM_ZNyhuscOClFa7OHNg1GxuPTO-nbk&callback=initMap"}
        :cdata
