.header
  .header__left
    = link_to root_path, class: "logo" do
      = image_tag "niwaai-logo.png", size: "150x70"
    .searchform
      = form_with(url: search_posts_path, local: true, method: :get) do |f|
        = f.text_field :keyword, placeholder: "庭園名で検索する", class: "search-input"
        = f.submit "検索", class: "search-btn"
  - if user_signed_in?
    %ul.header__right
      %li
        = link_to new_post_path, class: "new-post" do
          %i.fas.fa-edit
          新規登録
      %li
        = link_to posts_path, class: "posts" do
          %i.fas.fa-th-list
          投稿一覧
      %li
        = link_to users_path, class: "users" do
          %i.fas.fa-users
          ユーザー一覧
      %li
        = link_to user_path(current_user), class: "mypage" do
          %i.fa.fa-user
          マイページ
      %li
        = link_to destroy_user_session_path, method: :delete, class: "logout" do
          %i.fas.fa-sign-out-alt
          ログアウト

  - else
    %ul.header__right
      %li
        = link_to posts_path, class: "posts" do
          %i.fas.fa-th-list
          投稿一覧
      %li
        = link_to users_path, class: "users" do
          %i.fas.fa-users
          ユーザー一覧
      %li
        = link_to new_user_registration_path, class: "sign_in" do
          %i.fas.fa-sign-out-alt
          新規登録
      %li
        = link_to user_session_path, class: "logout" do
          %i.fas.fa-sign-out-alt
          ログイン